!.gitmodules
._*
.AppleDouble
.classpath
.DS_Store
.idea/
.lock-wscript
.LSOverride
.metadata
.project
.settings/
.Spotlight-V100
.Trashes
.vscode
*.bak
*.cab
*.iml
*.ipr
*.iws
*.lnk
*.lock
*.log
*.msi
*.msm
*.msp
*.pid
*.seed
*.sublime-project
*.sublime-workspace
*.tgz
~*
$RECYCLE.BIN/
cov-int
coverage
Desktop.ini
ehthumbs.db
Icon
lib-cov
logs
make.js
node_modules
out/
package-lock.*
pids
Thumbs.db
